.my-input .mat-mdc-form-field-subscript-wrapper {
  display: none;
}

.mat-form-field-appearance-outline .mdc-text-field--outlined .mat-mdc-form-field-flex .mdc-notched-outline {
  height: 45px;
  padding-top: 10px;
}
