<header class="flex flex-col p-2 gap-2">
  <div class="flex justify-between items-center h-auto w-full">
    <div class="w-[60px]">
      <img src="img/logo.svg" alt="Youtube-app logo" aria-hidden="false" aria-label="Youtube-app icon" />
    </div>
    <app-search-form></app-search-form>
    <app-settings (toggleSettingsShowEvent)="toggleSettingsShow($event)"></app-settings>
  </div>
  @if (isSettingsShow) {
    <div @toggleSettingsShow class="flex items-center gap-4">
      <app-sort-options (sortChange)="onSortChange($event)" [sortOptions]="sortOptions"></app-sort-options>
      <app-filter-form (filterChange)="onFilterChange($event)"></app-filter-form>
    </div>
  }
</header>
